.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/anzhixiangDemo/anzhixiangDemo.iml
/app/app.iml
/.gitignore
/.idea
/anzhixiangDemo/.idea
/anzhixiangDemo/gradle
/gradle
/MyApplication.iml
