<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.DrawerLayoutActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.GridPasswordActivity" />
        <activity android:name=".activity.MyTabActivity" />
        <activity android:name=".activity.MyCalendarActivity" />
        <!-- <activity android:name=".activity.MyCalendar2Activity"/> -->
        <activity android:name=".activity.MyCalendar3Activity" />
        <activity android:name=".activity.MyCalendar4Activity" />
        <!-- <activity android:name=".activity.BannerActivity"/> -->

        <activity android:name=".activity.WebPActivity"/>
        <activity android:name=".activity.GuideFunctionActivity"/>
        <activity android:name=".activity.MyWebViewActivity"/>
        <activity android:name=".activity.GuideVideoActivity"/>



        <activity android:name=".base.BaseActivity">
        </activity>
    </application>

</manifest>